*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --hue: 350;
}

body{
    background-color: hsla(calc(var(--hue)), 100%, 30%, 1);
    overflow: hidden;
    height: 100vh;
    color:hsla(calc(var(--hue)), 100%, 75%, 1);
}

.scorediv{
    display: flex;
    justify-content: center;
}

.player,
.cpu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    margin-top:1vw;
    font-size: 1vw;
    width:5vw;
    opacity: .8;
}

.player #playerscore,
.cpu #cpuscore{
    padding-left: 10px;
}

.paddle{
    background-color: hsla(calc(var(--hue)), 100%, 15%, 1);
    height:15vh;
    width: 1.5vw;
    translate: 0 -50%;
}

.leftpaddle{
    --leftpaddle: 50vh;
    position: absolute;
    top:var(--leftpaddle);
    left:0; 
    margin-left: .5vw;
}

.rightpaddle{
    --rightpaddle: 50;
    position: absolute;
    top:calc(var(--rightpaddle) * 1vh);
    right:0; 
    margin-right: .5vw;
}

.ball{
    --ballx: 50;
    --bally: 40;
    position:absolute;
    top:calc(var(--bally) * 1vh);
    left:calc(var(--ballx) * 1vw);
    height:3vh;
    width:3vh;
    border-radius: 100%;
    background-color: hsla(calc(var(--hue)), 100%, 15%, 1);
    translate: -50% -50%;
}

.clickme {
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
}

.hide {
    display:none
}